spring.datasource.url=jdbc:mysql://mysqldb:3306/YOUR_DB_NAME?useSSL=false&serverTimezone=UTC
spring.datasource.username=db_username
spring.datasource.password=db_password
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
spring.jpa.database-platform=org.hibernate.dialect.MySQL8Dialect
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update

logging.level.org.hibernate.SQL=debug

#JWT
security.jwt.secret-key = your-secret-key
security.jwt.expiration = your-expiration-in-minutes

#MAIL
twilio-sendgrid.mail.api-key = your-api-key
from.email.address = your-sendgrid-mail